/* GENERALES */
$anchoMax: 100%;
$anchoMaxContenidoDesktop: 70%;
$anchoMaxContenidoMobile: 80%;
$alturaBannerSecundario: 40vh;

/* COLORES */

$colorPrincipal: #d4a1b1;
$colorFondo: #eeeeee;
$colorFooter: #000000;
$colorFuenteGeneral: #000000;
$colorFuenteTitulo: #000000;
$colorFuenteBanner: #ffffff;
$colorFuenteFooter: #ffffff;
$colorSombraCajas: rgba(0,0,0,0.4);

/* FUENTES */

$fuenteTitulo: 'Raleway', sans-serif;
$fuenteGeneral: 'Lato', sans-serif;
$interlineadoParrafo: 1.5;
$espaciadoPalabrasParrafo: 2px;